div.passed {
  background-color: green;
  vertical-align: top;
  width: 30px;
  height: 20px;
}

div.failed {
  background-color: red;
  vertical-align: top;
  width: 30px;
  height: 20px;
}

div.skipped {
  background-color: yellow;
  vertical-align: top;
  width: 30px;
  height: 20px;
}

div.failed-missing {
  background-color: darkred;
  vertical-align: top;
  width: 30px;
  height: 20px;
}

div.skipped-missing {
  background-color: gold;
  vertical-align: top;
  width: 30px;
  height: 20px;
}

div.failed-known {
  background-color: lightcoral;
  vertical-align: top;
  width: 30px;
  height: 20px;
}

th.rotate {
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: translate(25px, 51px)
             rotate(315deg);
  width: 30px;
}

th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

th.summary {
  text-align: left;
  vertical-align: bottom;
}

td.numeric {
  text-align: right;
}

td.legendblock {
  vertical-align:top;
}

div.hidden {
  display: none;
}

pre {
  white-space: pre-wrap;
}

div.shown {
  display: block;
  position: relative;
  bottom: 30px;
  right: 400px;
  font-family: monospace;
  background-color: white;
  border-color: black;
  border: solid;
  width: 400px;
  height: auto;
}

div.legend {
  display: none;
  position: sticky;
  top: 20px;
  width: 400px;
  background-color: white;
  border-color: black;
  border: solid;
}

span.legendtitle {
  font-weight: bold;
}

span.closelegend {
  float: right;
}

a.switch {
  font-size: x-small;
}